<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<appSettings>
	<add key="ConnectionString" value="Server=.;Database=yourdatabase;user Id = yourID;password =yourpassword"/>
	<add key="BackupFolder"  value ="D:\DatabaseBackups"/>
	<add key="LogFolder" value ="D:\DatabaseBackups\Log"/>
	<add key="BackupIntervalMinutes" value="5"/>
	<add key="NumKeepBackFail" value="5"/>
	<add key="SendFrom" value="sendfrom@gmail.com"/>
	<add key="SendTo" value= "sendto@gmail.com"/>
	<add key="Subject" value="Error in Backup Service"/>
	<add key="Body" value="An error occurred during backup"/>
	<add key="smtpClients" value="smtp.sendgrid.net"/>
	<add key="username" value="apikey"/>
	<add key="Password" value="Your passwoord"/>
</appSettings>
</configuration>